/* Importing Poppins font and Tailwind CSS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Figtree", sans-serif;
}

.coolBg {
  background-image: url("https://d19ep7nqjvgj4d.cloudfront.net/adgen-fe/editor_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.coolButton {
  background: linear-gradient(
    92.84deg,
    rgb(105, 56, 239) 9.08%,
    rgba(124, 49, 167, 0.99) 115.99%
  );
  color: white;
}
/* Tooltip styles */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: help;
  padding: 2px;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: max-content;
  background-color: #9f9d9d;
  color: #fff;
  text-align: center;
  padding: 5px 4px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: smaller;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
